<launch>
    <node name="JoystickNode" pkg="my_package" type="spacemouse_input_node.py" output="screen" />
    <node name="SystemSimulationNode" pkg="my_package" type="simulation_node.py" output="screen" /> 
    <node name="VisulaizationNode" pkg="my_package" type="visualization_node.py" output="screen" /> 
    <node pkg="my_package" type="assistive_control_node.py" name="AssistiveControlNode1" output="screen"/> 
</launch>
